{% extends 'common/base.html' %}

{% block content %}

<div class="container mt-4">
    <h2 class="mb-4 text-center">{{ profile.username }}'s Profile</h2>
    <p><strong>Email:</strong> {{ profile.email }}</p>

    {% if request.user == profile %}
        <div class="d-flex justify-content gap-2 mt-2">
            <a href="{% url 'profile-edit' pk=profile.pk %}" class="btn btn-warning btn-sm me-2">Edit Profile</a>
            <a href="{% url 'profile-delete' pk=profile.pk %}" class="btn btn-danger btn-sm">Delete Profile</a>
            <a href="{% url 'artwork-create' %}" class="btn btn-success btn-sm">Add New Artwork</a>
        </div>
    {% endif %}
    <hr>

    {% if artworks %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            {% for artwork in artworks %}
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        {% if artwork.image %}
                            <img src="{{ artwork.image.url }}" class="card-img-top" alt="{{ artwork.title }}" style="height: 35cap">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ artwork.title }}</h5>
                            <a href="{% url 'artwork-details' artwork.pk %}" class="btn btn-outline-primary btn-sm">Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center text-muted">This user hasn't uploaded any artworks yet.</p>
    {% endif %}
</div>
{% endblock %}